.dash-title{
    font-weight: bolder;
    font-size: 24px;
    text-decoration: underline;
    color: whitesmoke;
    border-bottom: -10px;
}

.dash-container{
    position: relative;
    margin-top: -10px;
    margin-bottom: 10px;
    display: block;
    width: 800px;
    height: 250px;
    border: .5px solid #4ecdc4;
    border-radius: 0 0 .95em .95em;
    border-bottom: transparent;
    border-right: transparent;
}

.grid {
    display: flex;
    height: 100%;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: flex-start;
}

.icon{
    margin-left: 30%;
    max-width:80%;
    height: 55%;
}

.date-title{
    font-size: 16px;
    color: whitesmoke;
    font-weight: bolder;
    padding: 0% 15% 5% 15%;
    border-bottom: 1px solid whitesmoke;
}

.centered{
    margin-left: 10%;
    align-content: center;
    line-height: 20px;
}
.data-title{
    font-size: 16px;
    font-weight: bolder;
    margin-left: 10%;;
    color: whitesmoke;
    padding-bottom: 3px;
}

.data{
    font-weight: bold;
    color: #4ecdc4;
}

.text{
    font-size: 13px;
    color: whitesmoke;
}