# env
env/
build/

# local
blob_storage/
webrtc_event_logs/
__pycache__/
lackey/__pycache__/
*.txt
lackey/actions/external_api/sports/sport_urls.py

### react ###

# dependencies
lackey/frontend/node_modules
lackey/frontend/.pnp
lackey/frontend/.pnp.js

# testing
lackey/frontend/coverage

# production
lackey/frontend/build

# misc
lackey/frontend/DS_Store
lackey/frontend/.env.local
lackey/frontend/.env.development.local
lackey/frontend/.env.test.local
lackey/frontend/.env.production.local

lackey/frontend/npm-debug.log*
lackey/frontend/yarn-debug.log*
lackey/frontend/yarn-error.log*
