.dash-title{
    font-weight: bolder;
    font-size: 24px;
    text-decoration: underline;
    color: whitesmoke;
    margin-bottom: -40px;
}

.f-container{
    position: relative;
    margin-top: 50px;
    display: block;
    width: 800px;
    height: 250px;
    border: 2px solid #4ecdc4;
    overflow: hidden;
}

.figure-container{
    float:right;
    position: relative;
    height: inherit;
    background-color: #393939;
}

.head-sub{
    margin-left: 5px;
}

.c-title{
    font-weight: bolder;
    font-size: 18px;
    text-decoration: underline;
    color: whitesmoke;
    padding-top:5px;
    padding-bottom:10px;
}
