.dash-title{
    font-weight: bolder;
    font-size: 24px;
    text-decoration: underline;
    color: whitesmoke;
    margin-bottom: -40px;
}

.f-container{
    position: relative;
    margin-top: 50px;
    display: block;
    width: 800px;
    height: 250px;
    border: 2px solid #4ecdc4;
    overflow: hidden;
}

.figure-container{
    float:right;
    position: relative;
    height: inherit;
    background-color: #393939;
}

.head-sub{
    margin-left: 5px;
}

.c-title{
    font-weight: bolder;
    font-size: 18px;
    text-decoration: underline;
    color: whitesmoke;
    padding-top:5px;
    padding-bottom:10px;
}

.info-container{
    display: inline-block;
    height: auto;
    width: 95%;
    margin-top: 5px;
    margin-left: 5px;
    line-height: 3px;
    font-size: 12px;
    color: #393939;
    border: .5px solid #4ecdc4;
    background-color: whitesmoke;
}

.info-container p{ 
    margin-left: 5px;
}

.increase{
    font-weight: bolder;
    color: #228B22;
}

.decrease{
    font-weight: bolder;
    color: #DC143C;
}