.card {
    position: relative;
    display: inline-block;
    margin: 10px;
    border: 1px solid #4ecdc4;
    background-color: whitesmoke;
    overflow: hidden;
}

.card-header{
    width: 100%;
    height: 35%;
    background-color: #393939;
    overflow: hidden;
    padding-bottom: 5%;
}

.card-content {
    position: relative;
    background-color: inherit;
    height: 65%;
    overflow-y: auto;
}

.weatherSearch {
    position: relative;
    display: inline-block;
    margin: 10px;
    border: 1px solid #4ecdc4;
    background-color: whitesmoke;
    min-width: 250px;
    height: 200px;
}