.card {
    position: relative;
    display: inline-block;
    margin: 10px;
    border: 1px solid #4ecdc4;
    background-color: whitesmoke;
    overflow: hidden;
}

.card-header{
    width: 100%;
    height: 30%;
    background-color: #393939;
    overflow: hidden;
    padding-bottom: 5%;
}

.card-content {
    position: relative;
    background-color: inherit;
    height: 65%;
    overflow-y: auto;
}

.search {
    position: relative;
    display: inline-block;
    margin: 10px;
    margin-bottom: -30px;
    border: transparent;
    background-color: #393939;
    min-width: 250px;
    max-height: 500px;
    overflow-y: auto;
}

.weatherDay{
    height: inherit;
    width: 133px;
    background: #393939;
    border: .5px solid #4ecdc4;
    border-radius: .95em;
}

.data-container{
    float:right;
    position: relative;
    height: inherit;
    width: 200px;
    color: whitesmoke;
    background-color: #797979;
    border-left: 1px solid #4ecdc4;
    border-right: 1px solid #4ecdc4;
}

.trans-container{
    float:right;
    position: relative;
    height: inherit;
    width: calc(100% - 600px);
    color: whitesmoke;
    background-color: #797979;
}
