
body {
    color: #797979;
    background: #393939;
    font-family: Ruda, sans-serif;
    padding: 0 !important;
    margin: 0 !important;
    font-size: 16px;
    max-width: 968px;
}

ul li {
    list-style: none
}

a,
a:focus,
a:hover {
    text-decoration: none;
    outline: 0
}

::selection {
    background: #4ecdc4;
    color: #fff
}

::-moz-selection {
    background: #4ecdc4;
    color: #fff
}



.mb {
    margin-bottom: 25px
}

#sidebar {
    width: 210px;
    height: 100%;
    position: fixed;
    background: #2f323a
}

#sidebar h5 {
    color: #f2f2f2;
    font-weight: 700
}

#sidebar ul li {
    position: relative
}

#sidebar .sub-menu>.sub li {
    padding-left: 32px
}

#sidebar .sub-menu>.sub li:last-child {
    padding-bottom: 10px
}

.nav-collapse.collapse {
    display: inline
}

ul.sidebar-menu,
ul.sidebar-menu li ul.sub {
    margin: -2px 0 0;
    padding: 0
}

ul.sidebar-menu {
    margin-top: 75px
}

#sidebar>ul>li>ul.sub {
    display: none
}

#sidebar>ul>li.active>ul.sub,
#sidebar>ul>li>ul.sub>li>a {
    display: block
}

ul.sidebar-menu li ul.sub li {
    background: #2f323a;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0
}

ul.sidebar-menu li ul.sub li:last-child {
    border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px
}

ul.sidebar-menu li ul.sub li a {
    font-size: 12px;
    padding: 6px 0;
    line-height: 35px;
    height: 35px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -ms-transition: all .3s ease;
    transition: all .3s ease;
    color: #aeb2b7
}

ul.sidebar-menu li ul.sub li a:hover {
    color: #fff;
    background: 0 0
}

ul.sidebar-menu li ul.sub li.active div {
    color: #4ecdc4;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -ms-transition: all .3s ease;
    transition: all .3s ease;
    display: block
}

ul.sidebar-menu li {
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}

ul.sidebar-menu li.sub-menu {
    line-height: 15px
}

ul.sidebar-menu li a span {
    display: inline-block
}

ul.sidebar-menu li div {
    color: #aeb2b7;
    text-decoration: none;
    display: block;
    padding: 15px 0 15px 10px;
    font-size: 12px;
    outline: 0;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -ms-transition: all .3s ease;
    transition: all .3s ease
}

ul.sidebar-menu li div.active,
ul.sidebar-menu li div:focus,
ul.sidebar-menu li div:hover {
    background: #4ecdc4;
    color: #fff;
    display: block;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -ms-transition: all .3s ease;
    transition: all .3s ease
}

ul.sidebar-menu li div i {
    font-size: 15px;
    padding-right: 6px
}

ul.sidebar-menu li div:focus i,
ul.sidebar-menu li div:hover i {
    color: #fff
}

ul.sidebar-menu li div.active i {
    color: #fff
}

#main-content {
    margin-left: 210px
}

.footer,
.header {
    min-height: 60px;
    padding: 0 15px
}

.header {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1002
}

.black-bg {
    background: #22242a;
    border-bottom: 1px solid #393d46
}

.wrapper {
    display: inline-block;
    margin-top: 60px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-top: 0;
    width: 100%
}

.logo {
    font-size: 24px;
    color: #f2f2f2;
    float: left;
    margin-top: 15px;
    text-transform: uppercase
}

.logo b {
    font-weight: 900
}

.logo:focus,
.logo:hover {
    text-decoration: none;
    outline: 0
}

.logo span {
    color: #4ecdc4
}

.date {
    font-size: 12px;
    color: #f2f2f2;
    margin-top: 15px;
}

#top_menu .nav>li,
ul.top-menu>li {
    float: left
}

.notify-row {
    float: right;
    margin-top: 15px;
    margin-left: 92px
}

ul.top-menu>li>a {
    color: #666;
    font-size: 16px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    border: 1px solid #666 !important;
    padding: 2px 6px;
    margin-right: 15px
}

ul.top-menu>li>a:focus,
ul.top-menu>li>a:hover {
    border: 1px solid #b6b6b6 !important;
    background-color: transparent !important;
    border-color: #b6b6b6 !important;
    text-decoration: none;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    color: #b6b6b6 !important
}

.card{
    position: relative;
    border: 2px solid black;
}
