td{
    text-align: center;
    font-size: 10px;
    color: whitesmoke;
    border: .5px solid whitesmoke;
    background-color: #393939;
}

tr{
    border: .5px solid whitesmoke;
}

th{
    height: 20px;
    font-size: 10.5px;
    color: #4ecdc4;
    border: .5px solid whitesmoke;
    background-color: #22242a;
}

table{
    max-height: inherit;
    width: 100%;
    overflow-y: auto;
}

.master{
    font-weight: bolder;
    font-size: 16px;
    text-decoration: underline;
    color: whitesmoke;
    background-color: #393939;
    margin-left: 15%;
    white-space: nowrap;
    overflow: hidden;
}