.calendarBtn {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: transparent;
    color: whitesmoke;
    font-weight: bold;
}

.selected .calendarBtn{
    color: #393939
  }

.calendar .body .cell:hover .calendarBtn{
    color: #393939
  }

.addCalendar{
  padding: 0;
  color: #4ecdc4;
  height: 20px;
  width: 40px;
  margin-left: 10px;
  margin-top: 5px;
  cursor: pointer;
  border: transparent;
  background-color: inherit;
  padding-bottom:5px;
  border-bottom: 2px solid #4ecdc4;
}

.deleteTask{
  float: right;
  cursor: pointer;
  border: transparent;
  background-color: inherit;
  padding: 5px;
  z-index: 100;
  color: #393939;
}

.disabledSubmit {
  position: relative;
  float: left;
  padding: 5px;
	color: #797979;
	background: lightgray;
  cursor: not-allowed;
}

.submit{
  position: relative;
  float: left;
  font: bold;
  padding: 5px;
  color: #797979;
  background: whitesmoke;
  border: .5px solid #393939;
  cursor: pointer;
}
.submit:hover{
  color: #4ecdc4;;
}

.remove{
  position: relative;
  float: left;
  font: bold;
  padding: 5px;
  color: #797979;
  background: whitesmoke;
  border: .5px solid #393939;
  cursor: pointer;
}
.remove:hover{
  color: #393939;;
}


.search-btn {
  height: 36px;
  float: left;
  border: 1px solid #4ecdc4;
  background: #393939;
  color: whitesmoke;
  cursor: pointer;
  font-size: 16px;
  margin-left: -10%;
  margin-top: 15px;
}

.addLoc{
  position: absolute;
  bottom: 5px;
  right: 15px;
  cursor: pointer;
  border: transparent;
  background-color: inherit;
  padding: 6px;
  border: .5px solid whitesmoke;
  background: #393939;
  color: whitesmoke;
}

.addLoc:hover{
  border: .5px solid #4ecdc4;
  background: #393939;
  color: #4ecdc4;
}

.addNote{
  position: absolute;
  top: 15%;
  left: 25%;
  color: whitesmoke;
  background-color: inherit;
  border: transparent;
}
