.calendarBtn {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: transparent;
    color: whitesmoke;
    font-weight: bold;
}

.selected .calendarBtn{
    color: #393939
  }

.calendar .body .cell:hover .calendarBtn{
    color: #393939
  }

.addCalendar{
  padding: 0;
  color: #4ecdc4;
  height: 20px;
  width: 40px;
  margin-left: 10px;
  margin-top: 5px;
  cursor: pointer;
  border: transparent;
  background-color: inherit;
  padding-bottom:5px;
  border-bottom: 2px solid #4ecdc4;
}

.deleteTask{
  cursor: pointer;
  float: right;
  background: transparent;
  border: transparent;
  max-height: inherit;
  color: #393939;
}

.disabledSubmit {
  position: relative;
  float: left;
  padding: 5px;
	color: #797979;
	background: lightgray;
	cursor: not-allowed;
}

.submit{
  position: relative;
  float: left;
  padding: 5px;
  color: whitesmoke;
  background: #4ecdc4;
  cursor: pointer;
}