fieldset{
    float: left;
    display: block;
    border: transparent;
    margin-top: -25px;
    overflow-x: hidden;
}

label{
    float: left;
    padding: 5px;
    color: whitesmoke;
    font-size: 18px;
    text-transform: uppercase;
    margin-right: 25px;
}

input{
    margin: 15px 25px 0px 15px;
    border-bottom: 2px solid #4ecdc4;
}

input[type="number"]{
    width: 55px;
}


textarea{
    margin: 15px 25px 0px 15px;  
    border-bottom: 2px solid #4ecdc4;
    height: 100px;
}
.req{
    color: firebrick;
}

select {
    margin: 40px;
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
    width: 100px;
}

select option[id="1"] {
background: #4ecdc4;
width: 100px;
    }

select option[id="2"] {
background: #7FFF00;
width: 100px;
}

select option[id="3"] {
background: #F08080;
width: 100px;
}


select option[id="4"] {
background: #FFFF00;
width: 100px;
}

    
select option[id="5"] {
background: #C0C0C0;
width: 100px;
}
