/* GENERAL */

* {
  box-sizing: border-box;
}


main {
  display: block;
  margin: 0 auto;
  margin-left: -2%;
}

.modalField{
  overflow-y: auto;
}

.title{
  color: whitesmoke;
  font-size: 24px;
  margin-top: 2px;
}
/* GRID */

.row {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.row .task {
  background: whitesmoke;
  border-radius: .9em;
  padding: 15px;
  font-size: 16px;
  margin-top: 20px;
}

.row .task button{
  float: right;
}

.row-middle {
  align-items: center;
}

.col {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
}

.col-start {
  justify-content: flex-start;
  text-align: left;
}

.col-center {
  justify-content: center;
  text-align: center;
  color: whitesmoke;
}

.col-end {
  justify-content: flex-end;
  text-align: right;
}

/* Calendar */

.calendar {
  display: block;
  position: relative;
  width: 110%;
  background: inherit;
  border: 1px #4ecdc4;
}

.calendar .header {
  position: fixed;
  top: 3%;
  left: 30%;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  background: inherit;
  max-width: 40%;
}

.calendar .header .icon {
  cursor: pointer;
  transition: 0.15s ease-out;
}

.calendar .header .icon:hover {
  color: whitesmoke;
  text-decoration: underline;
}

.calendar .header .icon:first-of-type {
  margin-left: .5em;
}

.calendar .header .icon:last-of-type {
  margin-right: .5em;
}

.calendar .days {
  text-transform: uppercase;
  font-weight: 800;
  color: whitesmoke;
  padding: .25em 0;
  border-bottom: 3px solid #4ecdc4;
}

.calendar .body .cell {
  position: relative;
  height: 13.5vh;
  color: whitesmoke;
  border-right: .25px solid #4ecdc4;
  border-bottom: .25px solid #4ecdc4;
  overflow: hidden;
  background: #797979;
  transition: 0.25s ease-out;
  opacity: .9;
}

.calendar .body .cell:hover {
  background: whitesmoke;
  opacity: 1;
  transition: 0.25s ease-out;
}


.calendar .body .selected {
  opacity: 1;
  border: 2px solid #393939;
  border-left: 8px solid transparent;
  border-image: linear-gradient(45deg, #4ecdc4 0%, #4ecdc4 40%);
  border-image-slice: 1;
  background: whitesmoke;
}

.calendar .body .past {
  opacity: .55;
}

.calendar .body .row {
  border-bottom: 1px solid #393939;
}

.calendar .body .row:last-child {
  border-bottom: none;
}

.calendar .body .cell:last-child {
  border-right: none;
}

.calendar .body .disabled {
  color: #393939;
  opacity: .25;
}

.calendar .body .cell .bg {
  font-weight: 700;
  line-height: 1;
  color: whitesmoke;
  text-shadow:
  -2px -2px 0 #000,
  2px -2px 0 #000,
  -2px 2px 0 #000,
  2px 2px 0 #000;
  opacity: 0;
  font-size: 8em;
  position: absolute;
  top: -0.1em;
  right: .15em;
  transition: 0.25s ease-out;
  letter-spacing: -0.07em;
}

.calendar .body .selected .bg {
  opacity: 0.75;
  transition: 0.25s ease-in;
}

.calendar .body .col {
  flex-grow: 0;
  flex-basis: calc(100% / 7);
  width: calc(100% / 7);
}

.slash{
  position: absolute;
  top: 0;
  right: 10%;
  font-size: 150%;
  color: whitesmoke;
  font-weight: bolder;
}

.selected .slash{
  color: #393939
}

.calendar .body .cell:hover .slash{
  color: #393939
}

.number {
  position: absolute;
  top: 0;
  left: 5%;
  font-weight: bolder;
  color: whitesmoke;
}
.selected .number{
  font-weight: bolder;
  color: #393939
}

.calendar .body .cell:hover .number{
  font-weight: bolder;
  color: #393939
}