.dash-title{
    font-weight: bolder;
    font-size: 24px;
    text-decoration: underline;
    color: whitesmoke;
}

.dash-title-nba{
    position: absolute;
    top: 13%;
    left: 35%;
    font-weight: bold;
    font-size: 20px;
    text-decoration: underline;
    color: #797979;
}

.dash-title-epl{
    position: absolute;
    top: 13%;
    left: 55%;
    font-weight: bold;
    font-size: 20px;
    text-decoration: underline;
    color: #797979;
}

.dash-title-nfl{
    position: absolute;
    top: 13%;
    left: 80%;
    font-weight: bold;
    font-size: 20px;
    text-decoration: underline;
    color: #797979;
}


.s-container{
    position: relative;
    margin-top: 50px;
    display: block;
    width: 800px;
    height: 250px;
    border: 2px solid #4ecdc4;
    overflow: hidden;
}

.scoreboard-container{
    float:right;
    position: relative;
    height: inherit;
    width: calc(100% / 3);
    color: whitesmoke;
    background-color: #393939;
    border-left: 1px solid #4ecdc4;
    overflow-y: auto;
}

.sbInfo{
    display: inline-block;
    height: 90px;
    width: 95%;
    margin-top: 1px;
    margin-left: 5px;
    font-size: 10px;
    color: whitesmoke;
    border: .5px solid #4ecdc4;;
    background-color: #393939;
    overflow-x: wrap;
}

.sbInfo .team{ 
    height: 31px;
}

.sbInfo .total{ 
    font-size: 12px;
    font-weight: bold;
    height: 31px;
    color: #4ecdc4;;
}

.sbInfo .team-name{
    font-size: 10px;
    font-weight: bold;
    height: 31px;
    color: whitesmoke; 
}

.sbInfo p{ 
    margin-left: 1px;
}

.sbInfo-nfl{
    display: inline-block;
    height: 95px;
    width: 95%;
    margin-top: 1px;
    margin-left: 5px;
    font-size: 10px;
    color: whitesmoke;
    border: .5px solid #4ecdc4;;
    background-color: #393939;
    overflow-x: wrap;
}
